h1 {
  padding: 3%;
  text-align: center;
  font-size: 48px;
}

.input-group {
  margin: 0% 20%;
  padding: 1%;
  text-align: center;
}

.input-group-addon {
  background-color: red;
}

#video {
    text-align: center;
}